<!-- menu.component.html -->
<nav class="menu">
    <ul>
      <li class="card">Pendentes</li>
      <li class="card">Finalizadas</li>
      <li class="card">Criar nova tarefa</li>
    </ul>
  </nav>
  <section class="testimonials-section">
    <h2><strong>Análises de Desempenho</strong></h2>
    <br>
    <div class="testimonial-card">
      <div class="testimonial">
          <h3 class="testimonial-title">Tarefa 1:</h3>
          <div class="testimonial-content">
            <br>
              <blockquote>
                Descrição da tarefa
            </blockquote>
          </div>
      </div>
    </div>
  
    <div class="testimonial-card">
      <div class="testimonial">
          <h3 class="testimonial-title">Tarefa 2:</h3>
          <div class="testimonial-content">
            <br>
              <blockquote>
                Descrição da tarefa a ser realizada
              </blockquote>
              
          </div>
      </div>
    </div>
  
    <div class="testimonial-card">
      <div class="testimonial">
        <h3 class="testimonial-title">Tarefa 3:</h3>
        <div class="testimonial-content">
          <br>
            <blockquote>
                Descrição da atividade a ser realizada
            </blockquote>
           
        </div>
      </div>
    </div>
  
    <div class="testimonial-card">
      <div class="testimonial">
          <h3 class="testimonial-title">Tarefa 4:</h3>
          <div class="testimonial-content">
            <br>
              <blockquote>
                Descrição da atividade a ser realizada
              </blockquote>
          </div>
      </div>
    </div>
  </section>
  