.footer {
    background-color: rgb(12,43,67); 
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px 0; /* Espaçamento interno no topo e na base do rodapé */
    text-align: center; /* Alinhamento do texto no centro */
}

.container {
    max-width: 1200px; /* Largura máxima do conteúdo do rodapé */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}
