<section class="testimonials-section">
  <h2><strong>Análises de Desempenho</strong></h2>
  <br>
  <div class="testimonial-card">
    <div class="testimonial">
        <h3 class="testimonial-title">Tarefa: Criação de interfaces de usuário (UI)</h3>
        <div class="testimonial-content">
          <br>
            <blockquote>
              "Ótimo trabalho! Você conseguiu atender todas as especificações do projeto e entregou dentro do prazo estabelecido. Fiquei impressionado com a qualidade do resultado final. Parabéns!"
            </blockquote>
            <cite>Gestor A</cite>
            <br>
            <div class="comment-box-container">
              <label for="comment-ui" class="comment-label">Comentar:</label>
              <textarea id="comment-ui" name="comment-ui" rows="3" cols="50" class="comment-box"></textarea>
              <button type="submit" class="submit-button">Enviar</button>
            </div>
        </div>
    </div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial">
        <h3 class="testimonial-title">Tarefa: Desenvolvimento de novos recursos área financeira</h3>
        <div class="testimonial-content">
          <br>
            <blockquote>
              "Seu trabalho está indo na direção certa, mas acho que podemos melhorar alguns aspectos. Por exemplo, a organização do código pode ser mais clara para facilitar a manutenção no futuro. Além disso, seria interessante explorar algumas alternativas de design para tornar a interface mais intuitiva para o usuário."
            </blockquote>
            <cite>Coordenador C</cite>
            <br>
            <div class="comment-box-container">
              <label for="comment-ui" class="comment-label">Comentar:</label>
              <textarea id="comment-ui" name="comment-ui" rows="3" cols="50" class="comment-box"></textarea>
              <button type="submit" class="submit-button">Enviar</button>
            </div>
        </div>
    </div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial">
      <h3 class="testimonial-title">Tarefa: Integração de sistemas</h3>
      <div class="testimonial-content">
        <br>
          <blockquote>
               "Percebi que a tarefa de integração de sistemas está levando mais tempo do que o esperado. Podemos conversar sobre os desafios que você está enfrentando e ver como posso ajudar a agilizar o processo?"
          </blockquote>
          <cite>Desenvolvedor Senior AB</cite>
         <br>
         <div class="comment-box-container">
          <label for="comment-ui" class="comment-label">Comentar:</label>
          <textarea id="comment-ui" name="comment-ui" rows="3" cols="50" class="comment-box"></textarea>
          <button type="submit" class="submit-button">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial">
        <h3 class="testimonial-title">Tarefa: Correção de bugs</h3>
        <div class="testimonial-content">
          <br>
            <blockquote>
                "Continue assim! Seu trabalho está evoluindo a cada dia e estou ansioso para ver como você vai se desenvolver ainda mais. Não tenha medo de buscar feedback e aprender com os desafios. Estou aqui para apoiá-lo em sua jornada de crescimento profissional."
            </blockquote>
            <cite>Desenvolvedor M</cite>
            <br>
            <div class="comment-box-container">
              <label for="comment-ui" class="comment-label">Comentar:</label>
              <textarea id="comment-ui" name="comment-ui" rows="3" cols="50" class="comment-box"></textarea>
              <button type="submit" class="submit-button">Enviar</button>
            </div>
        </div>
    </div>
  </div>
</section>
