<section class="main-section">
    <div class="content">
        <h2><strong>Bem-vinda, Bianca Silva!</strong></h2>
        <br>
        <p><strong>plataforma de gerenciamento de tarefas oferece uma abordagem integrada e eficiente para lidar com suas atividades diárias. </strong></p>
       <br> <p>Com cards intuitivos, você acessa e interage com cada tarefa, atribuindo prioridades e responsáveis. <br>
            No final de cada projeto, o recurso de acordeão exibe comentários da equipe e do gestor para análise e melhoria contínua.</p>
    </div>
    <div class="image-container">
        <img src="assets/image/inicio.jpg" alt="Descrição da imagem" class="responsive-image">
    </div>
</section>
