<!-- 
<section class="features-section">
  <div class="card feature">
    <h3><strong>Desenvolvimento de novos recursos área financeira</strong></h3>
    <p>Criação de novas funcionalidades para o sistema, melhorar a experiência do usuário, adicionar novas capacidades.</p>
    <div class="progress-bar"></div>
    <a href="#" class="arrow">&#10148;</a>
  </div>
  <div class="card feature">
    <h3><strong>Correção de bugs</strong></h3>
    <p>Identificar e corrigir problemas no software existente, garantindo que o sistema funcione corretamente e que os erros sejam eliminados.</p>
    <div class="progress-bar"></div>
    <a href="#" class="arrow">&#10148;</a>
  </div>
  <div class="card feature">
    <h3><strong>Integração de sistemas</strong></h3>
    <p>Integrar sistemas existentes para troca eficiente de dados e funcionalidades.</p>
    <div class="progress-bar"></div>
    <a href="#" class="arrow">&#10148;</a>
  </div>
  <div class="card feature">
    <h3><strong>Criação de interfaces de usuário (UI)</strong></h3>
    <p>Projetar e implementar interfaces de usuário intuitivas e atraentes para melhorar a usabilidade do sistema.</p>
    <div class="progress-bar"></div>
    <a href="#" class="arrow">&#10148;</a>
  </div>
</section> -->
<section class="features-section">
  <div class="card feature" onclick="showAlert('Desenvolvimento de novos recursos área financeira')">
    <h3><strong>Desenvolvimento de novos recursos área financeira</strong></h3>
    <p>Criação de novas funcionalidades para o sistema, melhorar a experiência do usuário, adicionar novas capacidades.</p>
    <div class="progress-bar"></div>
    <a href="/pagina1" class="arrow">&#10148;</a>
  </div>
  <div class="card feature" onclick="showAlert('Correção de bugs')">
    <h3><strong>Correção de bugs</strong></h3>
    <p>Identificar e corrigir problemas no software existente, garantindo que o sistema funcione corretamente e que os erros sejam eliminados.</p>
    <div class="progress-bar"></div>
    <a href="pagina2.html" class="arrow">&#10148;</a>
  </div>
  <div class="card feature" onclick="showAlert('Integração de sistemas')">
    <h3><strong>Integração de sistemas</strong></h3>
    <p>Integrar sistemas existentes para troca eficiente de dados e funcionalidades.</p>
    <div class="progress-bar"></div>
    <a href="pagina3.html" class="arrow">&#10148;</a>
  </div>
  <div class="card feature" onclick="showAlert('Criação de interfaces de usuário (UI)')">
    <h3><strong>Criação de interfaces de usuário (UI)</strong></h3>
    <p>Projetar e implementar interfaces de usuário intuitivas e atraentes para melhorar a usabilidade do sistema.</p>
    <div class="progress-bar"></div>
    <a href="pagina4.html" class="arrow">&#10148;</a>
  </div>
</section>

<script>
  function showAlert(feature) {
    alert("Você clicou em: " + feature);
  }
</script>